{{#if blogs}}
  <div class="main">
    {{#each blogs}}
      <div class="card">
        <div class="inner-card">
          <h3 class="card-title">{{this.blog_title}}</h3>
          <span class="card-timestamp">{{this.createdAt}}</span>
        </div>
        <p class="card-body">{{this.blog_body}}</p>
        <div class="btns">
          <button class="editBtn">
            <i class="material-icons edit">edit</i>
          </button>
          <button class="deleteBtn" data-blog_id="{{{this.blog_id}}}">
            <i class="material-icons delete">delete</i>
          </button>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="main"><header>
      You currently have no blogs.
      <br /><br />
      To create a blog post, navigate to the homepage and press the plus button.
      <br /><br />
    </header></div>
{{/if}}
<script src="/js/delete.js"></script>