<div class="main">
  {{#if blogs}}
    {{#each blogs}}
      <button class="cardBtn" data-blog-id="{{this.blog_id}}">
        <div class="inner-card">
          <h3 class="card-title">{{this.blog_title}}</h3>
          <span class="card-timestamp">{{this.createdAt}}</span>
        </div>
        <p class="username">{{this.username}}</p>
      </button>
    {{/each}}
  {{else}}
    <div class="main">
      <header>
        There are currently no blogs to view.
        <br /><br />
        To create a blog post, navigate to the homepage and press the plus
        button.
        <br /><br />
      </header>
    </div>
  {{/if}}
</div>
<script src="/js/dashboard.js"></script>